.search-bar{
  width: 200px;
  /* height: 50px; */
  position: relative;
  margin:5px;
  padding: 5px;

}

li{
  list-style: none;
  margin:3px;
  padding:2px 5px;
  cursor: pointer;
  width: 200px  ;
}

li:hover{
  background-color: #e32412!important;
  color:white;
  border-radius: 5px;
}


*{
  font-family: monospace;
  margin:0;
  padding: 0;
  box-sizing: content-box;
}
input{
  width: 100%;
}


.hidden{
  display: none !important;
}

label{
  width: 100px;
  height:25px;
  font-size: 18px;
  
}

.App{
  display: flex;

}
